.Yesbutton{
    all : unset;
    background-color: rgb(204, 57, 57);
    color:aliceblue;
    border-radius: 20%;
    border-color: rgb(255, 255, 255);
    padding: 20px;
    position: relative;
    left: 50px;
}
.Nobutton{
    all: unset;
    color: aliceblue;
    background-color: rgb(71, 56, 151);
    border-radius: 20%;
    border-color: rgb(255, 255, 255);
    padding: 20px;
    position:relative;
    left: 100px;
}